.content{
    background-color: white;
}
.content table{
    width: 100%;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.content td,th{
    border-left: 1px solid black;
    border-top: 1px solid black;
    height: 40px;
    line-height: 40px;
}

.form{
    display: none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}